<div id="meetinRoomRecord" class="col-xs-12">
    <div ng-intro-options="IntroOptions" ng-intro-method="meetingTour"
         ng-intro-autostart="ShouldAutoStart">
        <legend id="meetingRoomNumber" class="text-center legendFont">Meeting Room Nr.: {{rnb}} <br>
            <a class="btn btn-default btn-lg"
               ng-click="meetingTour();" ng-show="takeAtourBtn">Take a Tour</a>
            <a id="invitationBtn" ng-show="invitationBtn"
               class="btn btn-info btn-lg"
               ng-click="openInvitation()"><i
                    class="fa fa-envelope-o"></i>
                Invite participants</a>
            <a id="saveMeetingBtn" ng-show="saveMeetingBtn"
               class="btn btn-default btn-lg" ng-click="openSaveMeeting()"><i
                    class="fa fa-bookmark-o"></i>
                Bookmark</a></legend>
        <!--<hr>-->
        <div style="padding: 17px; padding-top: 0px;">
            <span ng-bind="error"></span>
        </div>
        <div class="col-md-8">
            <div class="col-md-6">
                <video id="video" class="img img-responsive videoBox" ng-src="{{getLocalVideo()}}" autoplay
                       muted></video>
            </div>
            <div class="col-md-6">
                <video-player ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
            </div>
        </div>

        <div class="col-md-4">
            <div class="chat-messages">
                <a id="loadPreviousMsg" ng-click="submit()" ng-disabled="loadBtn" class="btn btn-primary btn-xs btn-block">Load previous
                    messages</a>

                <div align="center">
                    <span style="font-weight: bold; text-align: center">{{errorLoad}}</span>
                </div>
                <div class="chat-message" ng-repeat="message in messages.messages">
                    <span>{{message.createdAt | date:'medium'}} - </span>
                    <span>{{message.email}} - </span>
                    <span>{{message.message}}</span>
                </div>
                <chat-box id="chatBox"></chat-box>
            </div>
            <form id="chatMsg" name="chatMsg" novalidate>
                <fieldset>
                    <div id="chatMsgA" class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Chat</span>
                            <input class="form-control" type="text" placeholder="Enter your message here!"
                                   name="message"
                                   ng-enter="sendMessage(message)" ng-model='message' ng-minlength="1" required>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-disabled="chatMsg.message.$invalid"
              ng-click="sendMessage(message)">Send
      </button>
    </span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- Canvas Record
<a class="btn btn-info btn-lg" id="start">Start</a>
<a class="btn btn-info btn-lg" id="stop">Stop</a>
<script>
    var record = document.getElementById('meetinRoomRecord');
    var recorder = RecordRTC(record, {
        type: 'canvas',
        showMousePointer: false
    });
    document.getElementById('start').onclick = function () {
        recorder.startRecording();
    };
    document.getElementById('stop').onclick = function () {
        recorder.stopRecording(function (url) {
            window.open(url, '_blank');
        });
    };
</script>-->

<!-- Mozilla Record
<section>
    <div>
        <button id="start-recording">Record Audio+Video</button>
        <button id="stop-recording" disabled>Stop</button>
        <br/>
        <h2 id="download-url"></h2>
    </div>
</section>

<script>
    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
    }

    var videoElement = document.getElementById('video');
    var downloadURL = document.getElementById('download-url');

    var startRecording = document.getElementById('start-recording');
    var stopRecording = document.getElementById('stop-recording');

    startRecording.onclick = function () {
        startRecording.disabled = true;
        stopRecording.disabled = false;

        captureUserMedia00(function (stream) {
            window.audioVideoRecorder = window.RecordRTC(stream, {
                type: 'video'
            });
            window.audioVideoRecorder.startRecording();
        });
    };

    stopRecording.onclick = function () {
        stopRecording.disabled = true;
        startRecording.disabled = false;

        window.audioVideoRecorder.stopRecording(function (url) {
            downloadURL.innerHTML = '<a href="' + url + '" download="RecordRTC.webm" target="_blank">Save the video</a><hr>';
            /*videoElement.src = url;
            videoElement.muted = false;
            videoElement.play();

            videoElement.onended = function () {
                videoElement.pause();

                // dirty workaround for: "firefox seems unable to playback"
                videoElement.src = URL.createObjectURL(audioVideoRecorder.getBlob());
            };*/
        });
    };

    function captureUserMedia00(callback) {
        captureUserMedia({
            audio: true,
            video: true
        }, function (stream) {
            videoElement.src = URL.createObjectURL(stream);
            videoElement.muted = true;
            videoElement.controls = true;
            videoElement.play();

            callback(stream);
        }, function (error) {
            alert(JSON.stringify(error));
        });
    }
</script>
-->
