<legend class="text-center">My Account</legend>
<div class="col-xs-12" ng-controller="MyAccountController">
    <form name="myAccForm" novalidate>
        <fieldset>
            <div class="form-group" id="mo-email" ng-class="{'has-error': myAccForm.email.$dirty && myAccForm.email.$invalid}">
                <label class="control-label">Email</label>

                <div>
                    <input class="form-control" type="email" name="email" value="{{userEmail}}" disabled>
                </div>
            </div> <hr>

            <h3>Change your password</h3>

            <div class="form-group" id="mo-password" ng-class="{'has-error': myAccForm.password.$dirty && myAccForm.password.$invalid}">
                <label class="control-label">Current Password<span
                        style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="password" placeholder="Password" name="password" ng-model="myAcc.password" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="myAccForm.password.$dirty && myAccForm.password.$invalid">
                        <span ng-show="myAccForm.password.$error.required">Password is required.</span>
                        <span ng-show="myAccForm.password.$error.minlength">Password must be 6-20 characters</span>
                        <span ng-show="myAccForm.password.$error.maxlength">Password must be 6-20 characters</span>
                    </span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': myAccForm.newPassword.$dirty && myAccForm.newPassword.$invalid}">
                <label class="control-label">New Password<span
                        style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="password" placeholder="New Password" name="newPassword" ng-model="myAcc.newPassword" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="myAccForm.newPassword.$dirty && myAccForm.newPassword.$invalid">
                        <span ng-show="myAccForm.newPassword.$error.required">Password is required.</span>
                        <span ng-show="myAccForm.newPassword.$error.minlength">Password must be 6-20 characters</span>
                        <span ng-show="myAccForm.newPassword.$error.maxlength">Password must be 6-20 characters</span>
                    </span>
                </div>
            </div>
            <div class="form-group" id="mo-coPassword" ng-class="{'has-error': myAccForm.coPassword.$dirty && myAccForm.coPassword.$invalid}">
                <label class="control-label">Confirm New Password<span
                        style="color:red">*</span></label>

                <div>
                    <input match="myAcc.newPassword" class="form-control" type="password" placeholder="Confirm New Password" name="coPassword" ng-model="myAcc.coPassword" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="myAccForm.coPassword.$dirty && myAccForm.coPassword.$invalid">
                        <span ng-show="myAccForm.coPassword.$error.required">Password is required! </span>
                        <span ng-show="myAccForm.coPassword.$error.minlength">Password must be 6-20 characters! </span>
                        <span ng-show="myAccForm.coPassword.$error.maxlength">Password must be 6-20 characters! </span>
                        <span ng-show="myAccForm.coPassword.$error.match">Passwords do not match!</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="button" class="btn btn-primary" id="changePasswordBtn" ng-click="changePassword()" ng-disabled="myAccForm.password.$invalid || myAccForm.coPassword.$invalid">Change Password</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="alert alert-{{feedbackState}}" style="display:{{isFeedback}}" >
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true">{{feedbackMsg}}</span>
    </div>
</div>