<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">BOOMARK MEETING</h4>
    </div>
    <div class="modal-body">
        <form name="bookmarkForm" novalidate>
            <fieldset>
                <div class="form-group" id="mRoomNr"
                     ng-class="{'has-error': bookmarkForm.mRoomNr.$dirty && bookmarkForm.mRoomNr.$invalid}">
                    <label class="control-label">MRN <span style="color:red">*</span></label>

                    <div>
                        <input class="form-control" type="text" name="mRoomNr" value="{{rnb}}"
                               required disabled>
                    <span style="color:red" ng-show="bookmarkForm.mRoomNr.$dirty && bookmarkForm.mRoomNr.$invalid">
                        <span ng-show="bookmarkForm.mRoomNr.$error.required">Meeting Name is required.</span>
                        <span ng-show="bookmarkForm.mRoomNr.$error.minlength">Please enter a name</span>
                    </span>
                    </div>
                </div>
                <div class="form-group" id="mName"
                     ng-class="{'has-error': bookmarkForm.mName.$dirty && bookmarkForm.mName.$invalid}">
                    <label class="control-label">Meeting Name <span style="color:red">*</span></label>

                    <div>
                        <input class="form-control" type="text" placeholder="Meeting Name" name="mName" ng-model="sm.mName" ng-minlength="2"
                               required>
                    <span style="color:red" ng-show="bookmarkForm.mName.$dirty && bookmarkForm.mName.$invalid">
                        <span ng-show="bookmarkForm.mName.$error.required">Meeting Name is required.</span>
                        <span ng-show="bookmarkForm.mName.$error.minlength">Please enter a name</span>
                    </span>
                    </div>
                </div>
                <div class="form-group" id="mDesc"
                     ng-class="{'has-error': bookmarkForm.mDesc.$dirty && bookmarkForm.mDesc.$invalid}">
                    <label class="control-label">Meeting Description <span style="color:red">*</span></label>

                    <div>
                        <input class="form-control" type="text" placeholder="Short description" name="mDesc" ng-model="sm.mDesc" ng-minlength="2"
                               required>
                    <span style="color:red" ng-show="bookmarkForm.mDesc.$dirty && bookmarkForm.mDesc.$invalid">
                        <span ng-show="bookmarkForm.mDesc.$error.required">Description is required.</span>
                        <span ng-show="bookmarkForm.mDesc.$error.minlength">Please enter a description</span>
                    </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-{{feedbackState}}" style="display:{{isFeedback}}" >
            <span aria-hidden="true"><i class="fa fa-info-circle"></i> {{feedbackMsg}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveMeeting()" ng-disabled="bookmarkForm.mRoomNr.$invalid || bookmarkForm.mDesc.$invalid || bookmarkForm.mName.$invalid">Bookmark Meeting</button>
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
    </div>
</div>