<legend class="text-center">Registration</legend>
<div class="col-xs-12" ng-controller="RegistrationController">
    <form name="regForm" ng-submit="submit()" novalidate>
        <fieldset>
            <div class="form-group" id="mo-email" ng-class="{'has-error': regForm.email.$dirty && regForm.email.$invalid}">
                <label class="control-label">Email<span style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="email" placeholder="Email" name="email" ng-model="reg.email" required>
                    <span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid">
                        <span ng-show="regForm.email.$error.required">Email is required.</span>
                        <span ng-show="regForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group" id="mo-password" ng-class="{'has-error': regForm.password.$dirty && regForm.password.$invalid}">
                <label class="control-label">Password<span
                        style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="password" placeholder="Password" name="password" ng-model="reg.password" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="regForm.password.$dirty && regForm.password.$invalid">
                        <span ng-show="regForm.password.$error.required">Password is required.</span>
                        <span ng-show="regForm.password.$error.minlength">Password must be 6-20 characters</span>
                        <span ng-show="regForm.password.$error.maxlength">Password must be 6-20 characters</span>
                    </span>
                </div>
            </div>
            <div class="form-group" id="mo-coPassword" ng-class="{'has-error': regForm.coPassword.$dirty && regForm.coPassword.$invalid}">
                <label class="control-label">Confirm Password<span
                        style="color:red">*</span></label>

                <div>
                    <input match="reg.password" class="form-control" type="password" placeholder="Confirm Password" name="coPassword" ng-enter="submit()" ng-model="reg.coPassword" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="regForm.coPassword.$dirty && regForm.coPassword.$invalid">
                        <span ng-show="regForm.coPassword.$error.required">Password is required! </span>
                        <span ng-show="regForm.coPassword.$error.minlength">Password must be 6-20 characters! </span>
                        <span ng-show="regForm.coPassword.$error.maxlength">Password must be 6-20 characters! </span>
                        <span ng-show="regForm.coPassword.$error.match">Passwords do not match!</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" id="registrationBtn" class="btn btn-primary" ng-disabled="regForm.email.$invalid || regForm.password.$invalid || regForm.coPassword.$invalid">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="alert alert-{{feedbackState}}" style="display:{{isFeedback}}" >
        <span aria-hidden="true"><i class="fa fa-info-circle"></i> {{feedbackMsg}}</span>
    </div>
</div>