<legend class="text-center">Login</legend>
<div class="col-xs-12" ng-controller="LoginController">
    <form name="loginForm" ng-submit="submit()" novalidate>
        <fieldset>
            <div class="form-group" id="mo-email" ng-class="{'has-error': loginForm.email.$dirty && loginForm.email.$invalid}">
                <label class="control-label">Email<span style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="email" placeholder="Email" name="email" ng-model="login.email" required>
                    <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
                        <span ng-show="loginForm.email.$error.required">Email is required.</span>
                        <span ng-show="loginForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
            </div>
            <div class="form-group" id="mo-password" ng-class="{'has-error': loginForm.password.$dirty && loginForm.password.$invalid}">
                <label class="control-label">Password<span
                        style="color:red">*</span></label>

                <div>
                    <input class="form-control" type="password" placeholder="Password" name="password" ng-enter="submit()" ng-model="login.password" ng-minlength="6" ng-maxlength="20" required>
                    <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        <span ng-show="loginForm.password.$error.required">Password is required.</span>
                        <span ng-show="loginForm.password.$error.minlength">Password must be 6-20 characters</span>
                        <span ng-show="loginForm.password.$error.maxlength">Password must be 6-20 characters</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" id="loginBtn" class="btn btn-primary" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid">Login</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="alert alert-danger" style="display: block" ng-show="loginError">
        <span aria-hidden="true"><i class="fa fa-info-circle"></i> Email or password is incorrect!</span>
    </div>
</div>