<div id="dashboard" ng-controller="DashboardController">
    <div ng-intro-options="IntroOptions" ng-intro-method="dashboardTour"
         ng-intro-autostart="ShouldAutoStart">
        <div id="bookmarkedMeetings">
            <legend class="text-center legendFont">Bookmarked Meetings <a class="btn btn-default btn-sm takeAtour" ng-click="dashboardTour();">Take a Tour</a></legend>
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Room Nr.</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <!--List all previous meetings-->
                <tr ng-repeat="meeting in meetings.meetings">
                    <td>{{meeting.name}}</td>
                    <td>{{meeting.createdAt | date:'medium'}}</td>
                    <td>{{meeting.room_nr}}</td>
                    <td>{{meeting.desc}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <!--Join a room-->
        <form id="joinMeeting" name="joinMeeting" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon mNumber">Meeting Number: </span>
                        <input class="form-control input-lg" type="text" placeholder="Enter the meeting number"
                               name="number" ng-model="number" required>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-lg" ng-click="submit()"
                              ng-disabled="joinMeeting.number.$invalid">Join Meeting Room
                      </button>
                    </span>
                    </div>
                <span style="color:red" ng-show="joinMeeting.number.$dirty && joinMeeting.number.$invalid">
                        <span ng-show="joinMeeting.number.$error.required">Meeting Room Number is required.</span>
                </span>
                </div>
            </fieldset>
        </form>
        <!--Create a new room-->
        <a id="createRoom" ng-href="#/room" class="btn btn-primary btn-lg btn-block mNumber">Create new Meeting Room</a>
        <br>
        <div class="alert alert-danger" style="display: block" ng-show="joinMeetingError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Meeting number is incorrect or not active at the moment!
        </div>
    </div>
</div>