<div class="col-xs-12">
    <legend class="text-center legendFont">Frequently Asked Questions (FAQs)</legend>

    <div class="panel-group" id="general">
        <h3>General Questions</h3>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq1"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq1">What is MeetOnline?</a>
                </h4>
            </div>
            <div id="faq1" class="collapse">
                <div class="panel-body">
                    MeetOnline is a web based conference system to provide companies as well as
                    private persons to organise their meetings online.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq2"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq2">Do I need an MeetOnline account to join a Meeting?</a>
                </h4>
            </div>
            <div id="faq2" class="collapse">
                <div class="panel-body">
                    Yes! It is necessary to register to use the application as well as to join a meeting.
                    The reason is we would like to provide as much as possible security for your user. With an account it is easier for us to gurantee the security policies.
                    <a ng-href="#/registration" class="btn btn-primary btn-xs">Registration</a>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq3"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq3">What do I need to register for the application?</a>
                </h4>
            </div>
            <div id="faq3" class="collapse">
                <div class="panel-body">
                    Only your email address and a password for the application.
                    <a ng-href="#/registration" class="btn btn-primary btn-xs">Registration</a>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq4"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq4">Do I have to pay for MeetOnline?</a>
                </h4>
            </div>
            <div id="faq4" class="collapse">
                <div class="panel-body">
                    NO! It's completely FREE!
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq5"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq5">Is MeetOnline available in other languages?</a>
                </h4>
            </div>
            <div id="faq5" class="collapse">
                <div class="panel-body">
                    Unfortunately MeetOnline is available in English version only. But we are working for multilanguage system.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq6"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq6">How do I get support?</a>
                </h4>
            </div>
            <div id="faq6" class="collapse">
                <div class="panel-body">
                    If you're using MeetOnline reach out direct to our support team.
                    <a href="mailto:rah14225@gmail.com?subject=MeetOnline%20-%20Support&amp;body=Enter%20your%20question!" class="btn btn-primary btn-xs">MeetOnline - Support</a>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq15"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq15">Take a Tour</a>
                </h4>
            </div>
            <div id="faq15" class="collapse">
                <div class="panel-body">
                    Almost in every page you will find a "Take a Tour" option. It allows you to have a look around the system and all functionalities.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" id="meeting">
        <h3>Meeting Management</h3>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq7"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq7">How can I create a meeting room?</a>
                </h4>
            </div>
            <div id="faq7" class="collapse">
                <div class="panel-body">
                    First login with your email and password. After successful login you will be able to see the <strong>MeetOnline Dashboard</strong>.
                    On the page you will find a button called <strong>Create new Meeting Room</strong>. Please allow your browser to use your webcam and microphone.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq8"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq8">How can I join a meeting room?</a>
                </h4>
            </div>
            <div id="faq8" class="collapse">
                <div class="panel-body">
                    First login with your email and password. After successful login you will be able to see the <strong>MeetOnline Dashboard</strong>.
                    On the page you will find a button called <strong>Join Meeting Room</strong>. Please provide the unique room number to join.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq9"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq9">How can I invite participants?</a>
                </h4>
            </div>
            <div id="faq9" class="collapse">
                <div class="panel-body">
                    Once you have created a meeting room you will find a button called <strong>Invite Participants</strong>.
                    You have two different options to invite:
                    <ol>
                        <li>Exchange Room Number with participants: just copy the meeting room number and send it to the participant <strong>or</strong></li>
                        <li>Email: send an email to the participant</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq10"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq10">How can I bookmark a meeting?</a>
                </h4>
            </div>
            <div id="faq10" class="collapse">
                <div class="panel-body">
                    Once you have created a meeting room you will find a button called <strong>Bookmark Meeting</strong>.
                    Before bookmarking you have to provide some information about the meeting room.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq11"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq11">Will my chat messages be stored?</a>
                </h4>
            </div>
            <div id="faq11" class="collapse">
                <div class="panel-body">
                    Yes. You can load all the messages of a meeting room afterwards if needed.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq12"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq12">Error: WebRTC is not supported by your browser.</a>
                </h4>
            </div>
            <div id="faq12" class="collapse">
                <div class="panel-body">
                    MeetOnline is based on WebRTC. Please check your browser compatibility.
                    <a ng-href="http://iswebrtcreadyyet.com/" class="btn btn-primary btn-xs">Is WebRTC ready yet?</a>
                    <a ng-href="http://caniuse.com/#search=webrtc" class="btn btn-primary btn-xs">Can I use WebRTC?</a>
                </div>
            </div>
        </div>
        <h3>Account Management</h3>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq13"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq13">How can I change my password?</a>
                </h4>
            </div>
            <div id="faq13" class="collapse">
                <div class="panel-body">
                    On the menu bar you will find a section named <strong>MyAccount</strong>.
                    In this page you will be able to change your password. You have to provide your current password to set a new password.
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="close" data-toggle="collapse" data-target="#faq14"><i
                        class="fa fa-chevron-circle-down"></i></a>
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#faq14">Can I change my email?</a>
                </h4>
            </div>
            <div id="faq14" class="collapse">
                <div class="panel-body">
                    As your email address is the unique identifier for the system you are not allowed to change it.
                </div>
            </div>
        </div>
    </div>
</div>