<!DOCTYPE html>
<html ng-app="meetonline">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/css/united.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/css/meetOnline.css">
    <link rel="stylesheet" href="bower_components/intro.js/introjs.css">


    <!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/intro.js/minified/intro.min.js"></script>
    <script src="bower_components/angular-intro.js/src/angular-intro.js"></script>

    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="vendor/js/sha512.js"></script>
    <script src="vendor/js/angular-socket-io.js"></script>
    <script src="bower_components/clipboard/dist/clipboard.js"></script>

    <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>

    <script src="vendor/js/angular-validation-match.js"></script>

    <script src="bower_components/webrtc-adapter/adapter.js"></script>
    <script src="vendor/js/common.js"></script>


    <script src="index.js"></script>
    <script src="controllers/RootController.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/LoginController.js"></script>
    <script src="controllers/RegistrationController.js"></script>
    <script src="controllers/DashboardController.js"></script>
    <script src="controllers/MeetingController.js"></script>
    <script src="controllers/MyAccountController.js"></script>
    <script src="controllers/InvitationController.js"></script>
    <script src="controllers/SaveMeetingController.js"></script>
    <script src="controllers/TestController.js"></script>

    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <!--<script src="bower_components/recordrtc/RecordRTC.js"></script>-->
    <script src="vendor/js/recordRTC.js"></script>
    <script src="vendor/js/screenshot.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="services/meeting.js"></script>
    <script src="services/io.js"></script>
    <script src="services/videostream.js"></script>
    <script src="directives/videoplayer.js"></script>
    <script src="services/chatSocket.js"></script>
    <script src="services/messageFormatter.js"></script>
    <script src="directives/chatWindow.js"></script>
    <script src="directives/ngEnter.js"></script>

    <title>MeetOnline</title>
</head>
<body ng-controller="RootController">
<div class="navbar navbar-default" ng-if="!isLoggedIn()">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/">MeetOnline</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li><a ng-href="#/login">Login</a></li>
            <li><a ng-href="#/registration">Registration</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#/faq" id="faqsH">FAQs</a></li>
        </ul>
    </div>
</div>
<div class="navbar navbar-default" ng-if="isLoggedIn()">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/dashboard">Dashboard - MeetOnline</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li><a id="myAccountBtn" ng-href="#/myAccount">MyAccount</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#/faq" id="faqs">FAQs</a></li>
            <li><a href="" id="logout" ng-click="Logout()">Logout</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div ng-view></div>
    </div>
</div>
<div class="text-center">Copyright &copy; 2016 MeetOnline <br>
    <a href="views/docs/api/index.html" class="btn btn-link">API Documentation</a>|
    <a ng-href="#/faq" class="btn btn-link">FAQs</a></div>
</body>
</html>