<div class="col-xs-12" ng-controller="HomeController">
    <div ng-intro-options="IntroOptions" ng-intro-method="homeTour"
         ng-intro-autostart="ShouldAutoStart">
        <div class="jumbotron">
            <img id="mo-logo" src="../../logo/logo-main.png" class="img-responsive" alt="Responsive image">
            <div class="text-center"><p>MeetOnline is a web based conference system to provide companies as well as
                private persons to organise their meetings online.</p>
                <a id="login" ng-href="#/login" class="btn btn-primary btn-lg">Login</a>
                <a id="registration" ng-href="#/registration" class="btn btn-primary btn-lg">Registration</a>
                <a class="btn btn-default btn-lg" ng-click="homeTour();">Take a Tour</a>
            </div>
        </div>
    </div>
</div>

