<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
        <h4 class="modal-title">INVITE PARTICIPANTS</h4>
    </div>
    <div class="modal-body">
        <!-- MRN share-->
        <div class="form-group">
            <label class="control-label">Share meeting room number:</label>
            <div class="input-group">
                <span class="input-group-addon">MRN</span>
                <input id="invitationRNB" class="form-control" type="text" value="{{rnb}}">
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="button" ngclipboard
                                      data-clipboard-target="#invitationRNB"><i class="fa fa-clipboard"> Copy</i>
                              </button>
                            </span>
            </div>
        </div>
        <!-- Email invitation-->
        <form name="invitationForm" novalidate>
            <fieldset>
                <div class="form-group"
                     ng-class="{'has-error': invitationForm.email.$dirty && invitationForm.email.$invalid}">
                    <label class="control-label">Paricipant Email</label>
                    <div class="input-group">
                        <input class="form-control" type="email" placeholder="Email" name="email"
                               ng-model="invitation.invitationEmail" required>
                            <span class="input-group-btn">
                              <button class="btn btn-primary" type="button" ng-click="sendEmail()"
                                      ng-disabled="invitationForm.email.$invalid"><i
                                      class="fa fa-paper-plane"></i> Send
                                  Email</i></button>
                            </span>
                    </div>
                            <span style="color:red"
                                  ng-show="invitationForm.email.$dirty && invitationForm.email.$invalid">
                                <span ng-show="invitationForm.email.$error.required">Email is required.</span>
                                    <span ng-show="invitationForm.email.$error.email">Invalid email address.</span>
                                </span>
                </div>
            </fieldset>
        </form>
        <div class="alert alert-{{feedbackState}}" style="display:{{isFeedback}}" >
            <span aria-hidden="true"><i class="fa fa-info-circle"></i> {{feedbackMsg}}</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeModal()">Close</button>
    </div>
</div>